:root {
  --main-text-color: #533738;
  --main-bg-color: #efe6e4;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.logo {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19, 5px;
  color: var(--main-text-color);
}

.page-header {
  background: url("img/header-background.png");
}

header .link {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text-color);
}
.header-list {
  list-style-type: none;
}
.header-title {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 62px;
}
.header-description {
  font-size: 18px;
  line-height: 30px;
}

.request-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: solid 20px #cc8b86;
  padding: 0px 40px;
  background-color: #cc8b86;
  color: var(--main-text-color);
}

.h2-title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.about-us-textblock {
  font-size: 18px;
  line-height: 30px;
}
.about-us-numbers {
  background-color: #8d7370;
}
.about-us-numbers dt {
  font-size: 50px;
  line-height: 62px;
  color: #ffffff;
}
.about-us-numbers dd {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
}
.our-works-textblock {
  background-color: rgba(100, 72, 69, 0.8);
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
.our-works-textblock p:first-child {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
}

.our-works .link {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-decoration: none;
}

.more {
  color: var(--main-text-color);
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
}

.more::after {
  content: “”;
  color: var(--main-text-color);
  background: url("img/arrow-3.png") no-repeat;
}

.team {
  background-color: #e2c4ba;
}

.team-members {
  list-style-type: none;
}

.team-members-individual-description {
  font-size: 18px;
  line-height: 30px;
}
.how-we-work-list {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  list-style: none;
  text-decoration: none;
}
.how-we-work-numbers {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  padding-inline: 10px;
  color: #ffffff;
  width: 70px;
  height: 70px;
  background-color: #8d7370;
  border-radius: 20px;
}
.reviews-quote {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--main-text-color);
}
.reviews-author {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: var(--main-text-color);
}
.feedback-form {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  background-color: #8d7370;
}
.feedback-form-info {
  color: rgba(255, 255, 255, 0.6);
}
.h2-bright-title {
  color: #ffffff;
}

.placeholder {
  display: none;
}

::placeholder {
  color: #f6ede9;
}

#user-field,
#phone-field {
  font-family: "Montserrat";
  color: #f6ede9;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  background-color: #8d7370;
  border: none;
  border-bottom: 1px solid #f6ede9;
}

.contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
.feedback-form-input-field {
  border-bottom: 1px;
  color: cornsilk;
}
footer .contacts {
  text-decoration: none;
}
footer .link.contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: var(--main-text-color);
}
.feedback-form .button {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-text-color);
  width: 310px;
  height: 74px;
  background-color: #cc8b86;
}
